Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore

feed.json*
recommends.json*
post.json*
post_fetch.json*
reply.json*
like.json*
repost.json*
unlike.json*
quote.json*
login.json*